

body{
	overflow: scroll;
}

.canvas {
   overflow: hidden;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   height: 900px;
}

.canvas .sky {
   height: 300%;
   width: 300%;
   position: absolute;
   top: -100%;
   left: -100%;
   margin-top: 50%;
   background-color: darkblue;
   background: -webkit-radial-gradient(center, rgba(0, 0, 70, 1) 0%, #000 60%);
   -webkit-animation: rotate 250s infinite linear;
   -webkit-backface-visibility: hidden;
   -webkit-transform-style: preserve-3d;
}



h1{
	position: absolute;
	width: 309px;
	height: 91px;
	left: 567px;
	top: 600px;

	font-family: Flower Power;
	font-style: normal;
	font-weight: normal;
	font-size: 96px;
	line-height: 92px;
	text-align: center;

	color: #FFFFFF;
	z-index: 1;
}

a {
    text-decoration: none;
    position: relative;
}

a:visited { 
 text-decoration: none; 
 color: white; 
}

a:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: -8px;

    border-width: 0 0 8px;
    border-style: solid;
}

a:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.5) 30%, #000 70%, rgba(0,0,0,.5) 50%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
  color: brown;
  -webkit-text-fill-color: brown;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

.background_img{
	position: absolute;
	width: 1436px;
	height: 900px;
	left: 4px;
	top: 0px;
}

.title_fortune{
	position: absolute;
	width: 523px;
	height: 507px;
	left: 460px;
	top: 124px;
  animation: svg-shadow 3s ease-in-out infinite alternate;
}

@keyframes svg-shadow {
  from {
    filter: drop-shadow( 0 0 0px #fff) drop-shadow( 0 0 10px #5B1C17) drop-shadow( 0 0 15px #5B1C17);
  }

  to {
    
    filter: drop-shadow( 0 0 30px #fff) drop-shadow( 0 0 25px #5B1C17) drop-shadow( 0 0 50px #5B1C17);
  }
}


/* Media Queries */
@media screen and (max-width: 600px){
  body{
    width: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .background_img{
    position: absolute;
    width: 160%;
    height: 1500px;
    left: -148px;
    top: -360px;
    transform: rotate(90deg);
  }

  .title_fortune{
    top: 140px;
    left: 95px;
    width: 60%;
  }

  h1{
    top: 710px;
    left: 100px;
  }
}



